.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content {
}

html, body, #root, .App {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.6);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

#offlineIcon, #download-button, #update-button {
  animation: pulse 2s infinite;
  box-shadow: 0 0 0 rgba(204,169,44, 0.6);
  border-radius: 1em;
}
